* {
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
}

.textarea {
  width: 50%;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
}

.preview {
  width: 50%;
  padding: 16px;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.loading {
  width: 50%;
  padding: 16px;
  font-size: 18px;
}
