html,
body,
#root {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100%;
}

/* Markdown editor */
.textarea {
  width: 50%;
  height: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
}

/* Preview */
.preview {
  width: 50%;
  height: 100%;
  padding: 16px;
  background-color: #f4f4f4;
  overflow-y: auto;
}
